{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-danger p-2">

    <a class="navbar-brand" href="/" style="margin-left: 3%;">
        <img src="{% static 'logo.png' %}" alt="" width="27" height="27"> Valiexpress
    </a>

    <div class="vl" style="border-left: 1px solid #dc3545; height: 41px; position: absolute; margin-left: 15.6%;"></div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 41%">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link active" href="add_product/">Add product</a>
        </div>
    </div>
</nav>