{% extends "base.html" %}





{% block content %}
<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color1 mb-5" id="up">О нас</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Гранд Лизинг - это современная, универсальная и амбициозная лизинговая компания, предлагающая своим клиентам самые удобные и выгодные условия как в городе Минске, так и по всей Беларуси. Услуги, которые мы предлагаем, рассчитаны на широкий круг клиентов, при этом мы целенаправленно работаем исключительно на удовлетворение индивидуальных потребностей каждого клиента.</p>
                <img src="../static/app/img/leasing7.png" class="img-fluid mb-5" alt="leasing">
                <p>Если лизингом занимаются профессионалы, то он превращается в самый простой, рациональный и очень удобный способ крупных приобретений. И именно такие – опытные и целеустремлённые менеджеры - работают для Вас в компании «Х". Пользоваться услугой лизинга от надёжной и проверенной специализированной лизинговой компании – это удобно и выгодно, ведь у нас:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-dollar"></i></div>
                <h5 class="text-center">1. Вам не понадобится стартовое вложение крупных сумм, плюс экономятся затраты на налоговые преференции</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-calendar"></i></i></div>
                <h5 class="text-center">2. Платежи распределяются удобным для Вас способом и по наиболее подходящему графику;</h5>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="itd_circle"><i class="icon-chart-bar"></i></div>
                <h5 class="text-center">3. Получить финансирование, воспользовавшись автолизингом, намного проще, при этом можно обойтись без залогового обеспечения;</h5>
                <div class="line"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Мы – та лизинговая компания в Минске, которая готова предложить вам профессиональные услуги на самых лучших условиях!</p>
                <p>«Х» - это свобода Вашего выбора! Вы можете выбрать предмет автолизинга (легковые авто, различные модели грузовиков, полуприцепы, спецтехнику) и максимально удобные для Вас условия сотрудничества с нами. Мы - универсальная лизинговая компания, и основным направлением нашей деятельности является предоставление современных услуг автолизинга на, пожалуй,  самых гибких условиях на рынке Беларуси. Минимальный пакет документов для рассмотрения Вашей заявки, решение по сделке - в течении 30 мин, после предоставления всех необходимых документов, длительные сроки финансирования и никаких ограничений по марке и стоимости автомобиля. Также, мы можем предоставить Вам заем под залог Вашего авто, при этом Вы продолжите его эксплуатировать. 
                
                Наша команда из более чем 20 профессионалов своего дела имеет многолетний опыт в лизинге, мы готовы оказывать помощь и поддержку каждого клиента на любом этапе, будь это выбор авто или вопросы по уже действующему договору. Накапливая опыт, ежегодно начиная с 2017 мы увеличиваем наш лизинговый портфель более чем в 2 раза, чем подтверждаем свое лидерство на рынке лизинга Республики Беларусь.
                </p>

                <ol><b>Наши преимущества:</b>
                    <li>индивидуальный подход абсолютно к каждому клиенту;</li>
                    <li>подбор лучших и самых оптимальных условий для полного удовлетворения пожеланий клиента;</li>
                    <li>финансирование на длительный срок;</li>
                    <li>минимальный набор документов (для подачи заявки необходим только паспорт);</li>
                    <li>оперативное принятие решения (мы примем решение о сделке в течение 30 минут после того, как получим от Вас все необходимые — документы);</li>
                    <li>финансирование покупки любой марки автомобиля</li>
                  </ol>
            </div>
        </div>
    </div>
    <div class="col-12">
        
        <div class="itd_play" data-bs-toggle="modal" data-bs-target="#myModale">
            <div class="itd_triangle"></div>
        </div>
        <a href="#up" class="btn btn-itd btn-lg text-uppercase">Наверх</a>
    </div>
</section>

<div class="modal fade" id="myModale" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Краткое видео услуг</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class='embed-container'><iframe src='https://www.youtube.com/embed//9oniLC7BSP8' frameborder='0' allowfullscreen></iframe></div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}