{% extends 'Financial_literacy/base.html' %}

{% load static %}

{% block title %}
materials
{% endblock %}


{% block nav %}
<nav class="nav">
    <a class="nav__transitions" href="{% url 'home' %}">Главная</a>
    <a class="nav__transitions" href="{% url 'materials' %}">Полезная информация</a>
</nav>
{% endblock %}


{% block intro %}<div class="intro__materials_news"></div>{% endblock %}

{% block post %}
    <h1 class="intro__title__materials"> Новости </h1>
    {% if information  %}
        {% for news in information %}
            <div class="alert alert-warning mt-2 "></div>
        {% endfor %}
    {% else  %}
        <p> Новостей пока нет! </p>
    {% endif %}
{% endblock %}